<div class="relative p-6 overflow-hidden">
  <div class="text-center my-6 relative">
    <div class="text-6xl text-white font-bold mb-1">La Plateforme Pour</div>
    <div class="text-6xl text-primary font-bold mb-4">
      Trouver Le Film Parfait Pour Vous
    </div>
    <p
      class="mt-0 mb-4 line-height-3 text-center mx-auto text-white"
      style="max-width: 500px">
      Découvrez votre prochain film préféré avec l'aide de notre IA.
      Personnalisez votre expérience cinématographique selon vos goûts et votre
      humeur.
    </p>
    <button
      routerLink="/chat"
      pButton=""
      pRipple=""
      label="En Savoir Plus"
      type="button"
      class="p-element p-ripple p-button p-component">
      <span class="p-button-label">Essayer</span>
      <span class="p-ink"></span>
    </button>
  </div>
</div>

<div class="flex flex-wrap justify-content-center text-white">
  <div class="max-w-sm m-4 border-2 border-primary p-5 w-30rem text-center">
    <i class="pi pi-comments text-4xl mb-2"></i>
    <h3 class="text-2xl font-bold text-primary">1. Discutez avec l'IA</h3>
    <p class="text-base text">
      Parlez à notre IA pour affiner vos recommandations en temps réel.
    </p>
  </div>
  <div class="max-w-sm m-4 border-2 border-primary p-5 w-30rem text-center">
    <i class="pi pi-video text-4xl mb-2"></i>
    <h3 class="text-2xl font-bold text-primary">2. Regardez et Profitez</h3>
    <p class="text-base">
      Recevez des suggestions personnalisées et commencez à regarder vos
      nouveaux films préférés.
    </p>
  </div>
</div>

<div class="text-center my-8">
  <div class="text-4xl text-primary font-bold mb-2 text-primary">
    Trouvez Votre Film Idéal
  </div>
  <p
    class="mt-0 mb-4 line-height-3 text-center mx-auto text-white"
    style="max-width: 600px">
    Avec "What Can AI Watch", laissez notre intelligence artificielle vous
    recommander des films basés sur vos préférences. Que vous ayez envie de
    rire, de pleurer ou d'être captivé, nous avons le film qu'il vous faut.
  </p>
</div>

<div class="text-center my-8">
  <h2 class="text-3xl text-primary font-bold mb-4">Commencez Maintenant</h2>
  <p class="text-base text-white mb-4">
    Essayez "What Can AI Watch" et laissez notre IA vous guider vers votre
    prochain film.
  </p>
  <button
    routerLink="/chat"
    pButton=""
    pRipple=""
    label="Télécharger l'Application"
    type="button"
    class="p-element p-ripple p-button p-component">
    <span class="p-button-label">Trouver un film</span
    ><span class="p-ink"></span>
  </button>
</div>
