<div class="card flex justify-content-center cursor-pointer">
  <p-card
    [header]="movie().title"
    [subheader]="movie().vote_average / 10 | percent"
    [style]="{ width: '300px' }"
    [routerLink]="['/movie', movie().id]">
    <ng-template pTemplate="header">
      <img
        [alt]="movie().title"
        [src]="
          'https://media.themoviedb.org/t/p/w600_and_h900_bestv2' +
          movie().poster_path
        "
        [width]="'10000'" />
    </ng-template>
    <sub class="flex justify-content-end">{{
      movie().release_date | date: 'dd-MM-yyyy'
    }}</sub>
  </p-card>
</div>
