<div class="flex flex-column surface-section m-4">
  <h1 class="mb-3 text-center text-primary">À propos de What Can Ai Watch</h1>
  <p class="text-center mb-4">
    What Can Ai Watch est votre guide ultime pour découvrir des films et séries
    grâce à l'intelligence artificielle.
  </p>

  <div class="flex flex-column gap-5 px-4 py-5 md:px-6 lg:px-8">
    <div>
      <div class="border-bottom-1 border-primary">
        <span class="block text-3xl font-medium text-900 mb-4"
          >Qui somme nous ?
        </span>
      </div>
      <p class="text-justify mb-4">
        Nous sommes Alexandre Roosens et Adriano Meledina, deux amis passionnés
        par le développement. Nous avons toujours été attirés par l'idée de
        créer quelque chose de nouveau et d'innovant.
      </p>
    </div>
    <div>
      <div class="border-bottom-1 border-primary">
        <span class="block text-3xl font-medium text-900 mb-4"
          >Et d'ou vient l'idée ?</span
        >
      </div>
      <p class="text-justify mb-4">
        C'est cette passion commune qui nous a amenés à organiser un weekend
        dédié à la création de ce projet, un véritable "hackathon" personnel.
        L'idée est née de notre désir de combiner notre expertise technique avec
        notre volonté de relever des défis. Pendant ce weekend intense, nous
        avons travaillé sans relâche avec l'objectif ambitieux de concevoir,
        développer et finaliser un projet en l'espace de 72 heures. Cette
        expérience a non seulement renforcé notre amitié, mais elle a aussi mis
        en lumière notre capacité à collaborer efficacement sous pression et à
        transformer une simple idée en réalité concrète en un temps record.
        Ensemble, nous avons mis en œuvre nos compétences et notre créativité
        pour donner vie à un projet dont nous sommes fiers. Ce weekend a été une
        aventure stimulante et enrichissante, nous rappelant pourquoi nous
        aimons tant ce que nous faisons
      </p>
    </div>
    <div>
      <div class="border-bottom-1 border-primary">
        <span class="block text-3xl font-medium text-900 mb-4"
          >C'est quoi ?</span
        >
      </div>
      <p class="text-justify mb-4">
        What Can Ai Watch est une plateforme conçue pour transformer votre
        expérience de recherche de films et séries. En utilisant les
        technologies de l'intelligence artificielle, What Can Ai Watch vous aide
        à trouver les meilleurs contenus adaptés à vos goûts personnels, qu'il
        s'agisse de nouvelles sorties ou de classiques intemporels.
      </p>
    </div>
    <div>
      <div class="border-bottom-1 border-primary">
        <span class="block text-3xl font-medium text-900 mb-4"
          >Notre Mission</span
        >
      </div>
      <p class="text-justify mb-4">
        Chez What Can Ai Watch, notre mission est de rendre la recherche de
        films et séries aussi simple et agréable que possible. Nous comprenons
        que le vaste choix de contenu peut être accablant, c'est pourquoi nous
        nous engageons à vous fournir des recommandations personnalisées,
        précises et pertinentes, afin de maximiser votre temps de
        divertissement.
      </p>
    </div>
    <div>
      <div class="border-bottom-1 border-primary">
        <span class="block text-3xl font-medium text-900 mb-4"
          >Fonctionnalités Clés</span
        >
      </div>
      <ul class="list mb-4">
        <li class="mb-2">
          <strong>Recommandations Personnalisées :</strong> Découvrez des films
          et séries qui correspondent parfaitement à vos préférences.
        </li>
        <li class="mb-2">
          <strong>Exploration Facile :</strong> Parcourez une interface
          intuitive qui vous permet de découvrir de nouveaux contenus en un clin
          d'œil.
        </li>
      </ul>
    </div>
    <div>
      <div class="border-bottom-1 border-primary">
        <span class="block text-3xl font-medium text-900 mb-4"
          >Pourquoi Utiliser What Can Ai Watch ?</span
        >
      </div>
      <p class="text-justify mb-4">
        <strong>Personnalisation :</strong> What Can Ai Watch vous offre une
        expérience de recommandation unique et sur mesure, en tenant compte de
        vos préférences individuelles.
      </p>
      <p class="text-justify mb-4">
        <strong>Simplicité :</strong> Une interface conviviale et intuitive pour
        une navigation sans effort, que vous soyez un cinéphile aguerri ou un
        spectateur occasionnel.
      </p>
      <p class="text-justify mb-4">
        <strong>Innovations :</strong> Nous restons à la pointe de la
        technologie pour améliorer continuellement notre service et répondre aux
        besoins de nos utilisateurs.
      </p>
    </div>
    <div>
      <div class="border-bottom-1 border-primary">
        <span class="block text-3xl font-medium text-900 mb-4"
          >Rejoignez-nous dès aujourd'hui</span
        >
      </div>
      <p class="text-justify mb-4">
        Prêt à découvrir le meilleur du divertissement ? Rejoignez la communauté
        What Can Ai Watch dès maintenant et plongez dans un monde de
        recommandations personnalisées. Que vous soyez à la recherche de votre
        prochain coup de cœur ou curieux de découvrir de nouveaux genres, What
        Can Ai Watch est votre partenaire idéal pour une expérience de
        visionnage optimisée.
      </p>
    </div>
    <div>
      <div class="border-bottom-1 border-primary">
        <span class="block text-3xl font-medium text-900 mb-4"
          >Contactez-nous</span
        >
      </div>
      <p class="text-justify mb-4">
        Des questions ou des commentaires ? Nous serions ravis de vous entendre
        ! N'hésitez pas à contacter notre équipe pour toute assistance ou
        demande de renseignements.
        <a href="/contact" class="text-primary">Contactez-nous</a>.
      </p>
    </div>
  </div>
</div>
