<div class="p-4">
  <div
    class="flex flex-column justify-content-between p-5 border-2 border-dashed surface-border border-round surface-card"
    style="height: 85vh">
    <div class="message-container">
      @for (
        message of manager.messagesOpenAi | async | filter: OpenAiRole.System;
        track message
      ) {
        <div #messageDiv>
          <div
            class="flex p-4"
            [ngClass]="
              message.role === OpenAiRole.User ? 'justify-content-end' : ''
            ">
            <div class="flex align-items-center">
              @if (message.role === OpenAiRole.Assistant) {
                @if ((manager.isLoading$ | async) && message.isTyping) {
                  <img
                    src="assets/images/robot_reflechit.gif"
                    alt="Robot"
                    class="h-4rem mr-2" />
                } @else {
                  <img
                    src="assets/images/robot_trouve.png"
                    alt="Robot"
                    class="h-4rem mr-2" />
                }
              }
              @if ((manager.isLoading$ | async) && message.isTyping) {
                <div class="typing-dot"></div>
                <div class="typing-dot"></div>
                <div class="typing-dot"></div>
              } @else {
                <span>{{ message.content }}</span>
              }
              @if (message.role === OpenAiRole.User) {
                <img
                  src="assets/images/userNotFound.svg"
                  alt="User"
                  class="h-3rem ml-2" />
              }
            </div>
          </div>
        </div>
      }
      <div class="w-full flex justify-content-center">
        @if (manager.seriesProposition | async; as series) {
          <app-small-card-series [series]="series" />
        }
        @if (manager.movieProposition | async; as movieProposition) {
          <app-small-card-movie [movie]="movieProposition" />
        }
      </div>
    </div>
    <div class="flex justify-content-center">
      <p-inputGroup class="w-30rem">
        <input
          type="text"
          pInputText
          placeholder="Message AI assistant"
          [(ngModel)]="inputValue"
          (keydown.enter)="sendMessage()" />
        <button
          type="button"
          pButton
          [disabled]="!inputValue || (manager.isLoading$ | async)"
          (click)="sendMessage()"
          icon="pi pi-send"></button>
      </p-inputGroup>
    </div>
  </div>
</div>
