<div class="p-4">
  <div
    class="flex flex-column justify-content-between p-5 border-2 border-dashed surface-border border-round surface-card"
    style="height: 87vh">
    <div class="message-container">
      <div *ngFor="let message of chatManager.messages$ | async">
        <div
          class="flex p-4"
          [ngClass]="message.sender ? 'justify-content-end' : ''">
          <p>
            <strong>{{ message.sender ? 'Me' : 'Bot' }}</strong
            >: {{ message.content }}
            <sub class="text-xs">{{ message.timestamp | date: 'h:mm' }}</sub>
          </p>
        </div>
      </div>
    </div>
    <div class="flex justify-content-center">
      <p-inputGroup class="w-30rem">
        <input
          type="text"
          pInputText
          placeholder="Message AI assistant"
          #messageInput
          (keydown.enter)="
            sendMessage(messageInput.value); messageInput.value = ''
          " />
        <button
          type="button"
          pButton
          (click)="sendMessage(messageInput.value); messageInput.value = ''"
          icon="pi pi-send"></button>
      </p-inputGroup>
    </div>
  </div>
</div>
