<div class="p-4">
  <div
    class="flex flex-column justify-content-between p-5 border-2 border-dashed surface-border border-round surface-card"
    style="height: 87vh">
    <div class="message-container">
      @for (
        message of manager.messagesOpenAi | async | filter: OpenAiRole.System;
        track message
      ) {
        <div #messageDiv>
          <div
            class="flex p-4"
            [ngClass]="
              message.role === OpenAiRole.User ? 'justify-content-end' : ''
            ">
            <p>
              <strong>{{
                message.role === OpenAiRole.User ? 'Me' : 'Bot'
              }}</strong
              >: {{ message.content }}
            </p>
          </div>
        </div>
      }
      @if (manager.movieProposition | async; as movie) {
        <div class="w-fit">
          <app-small-card-movie [movie]="movie" />
        </div>
      }
      @if (manager.seriesProposition | async; as series) {
        <div class="w-fit">
          <app-small-card-series [series]="series" />
        </div>
      }
    </div>
    <div class="flex justify-content-center">
      <p-inputGroup class="w-30rem">
        <input
          type="text"
          pInputText
          placeholder="Message AI assistant"
          [(ngModel)]="inputValue"
          (keydown.enter)="sendMessage()" />
        <button
          type="button"
          pButton
          [disabled]="!inputValue || (manager.isLoading$ | async)"
          (click)="sendMessage()"
          icon="pi pi-send"></button>
      </p-inputGroup>
    </div>
  </div>
</div>
