<div class="flex flex-column surface-section m-4">
  <h1 class="mb-3 text-center text-primary">Contactez-nous</h1>
  <p class="text-center mb-4">
    Vous avez des questions ou avis? Nous sommes là pour vous aider!
  </p>

  <div class="flex flex-column gap-5 px-4 py-5 md:px-6 lg:px-8">
    <!-- create contact message -->
    <div>
      <div class="border-bottom-1 border-primary">
        <span class="block text text-3xl font-medium text-900 mb-4"
          >Envoyez-nous un message</span
        >
      </div>
      <p>
        Des questions ou des commentaires ? Nous serions ravis de vous entendre
        ! N'hésitez pas à contacter notre équipe pour toute assistance ou
        demande de renseignements.
      </p>
    </div>
  </div>
</div>
