<a
  [routerLink]="['/series', series().id]"
  style="text-decoration: none; color: inherit">
  <div
    class="flex justify-content-around card border-2 border surface-border border-round surface-card w-25rem px-5"
    style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); border-radius: 10px">
    <div class="flex justify-content-center">
      <p-image
        [src]="
          'https://media.themoviedb.org/t/p/w600_and_h900_bestv2' +
          series().poster_path
        "
        [alt]="series().name"
        [width]="'150'"
        [preview]="false" />
    </div>
    <div class="flex flex-column justify-content-around" style="padding: 10px">
      <h3 class="text-primary">
        {{ series().name }}
      </h3>
      <p class="text-secondary">
        {{ series().first_air_date }}
      </p>
      <p class="text-primary">
        {{ series().vote_average }}
      </p>
    </div>
  </div>
</a>
